[packages]
python = ["psycopg2-binary", "redis"]

[nix]
deps = [
    "postgresql_14",
    "redis",
    "python39Full",
    "python39Packages.psycopg2"
]

[env]
DATABASE_URL = "postgresql://${REPL_OWNER}@localhost/simulation_games"

[scripts]
start = """
mkdir -p ~/.postgresql
initdb -D ~/.postgresql
pg_ctl -D ~/.postgresql start
createdb simulation_games
redis-server --daemonize yes
python main.py
"""